.participants_main{
    display: flex;
    height: 61vh;
}

.big_div{
    flex: 3
}
.small_div{
    flex: 1;
    background: linear-gradient(
        to right top,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.5)
      );
}

@media screen and (max-width: 600px) {
    .participants_main{
        flex-direction: column-reverse;
    }
    .big_div{
        flex:1
    }
    .big_div > Table{
        width: 90% !important;
        font-size: 10px;
    }
}