.dashboard{
    /* background: linear-gradient(to right top, rgba(255,255,255,.7), rgba(255,255,255,.3)); */
    /* width: 1000px; */
    flex: 1;
    padding: 10px 20px;
    /* height: 500px; */
}

.boxContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.main_admin_container{
    background: linear-gradient(to right top, rgba(255,255,255,.4), rgba(255,255,255,.2));
    margin-top: 10px;
}

.box{
    background: linear-gradient(to right top, rgba(255,255,255,.96), rgba(255,255,255,.8));
    border-radius: 5px;
    padding: 10px 10px;
    width: 22%;
    color: black;
    box-shadow: 1.4px 1.4px 2px #dfdfdf;
    cursor: pointer;
}

.box > div{
    /* background-color: red; */
    padding: 0;
    margin: 0;
}

.box > div > h3{
    font-size: 1.5rem;
    margin: 0;
    font-weight: 500;
}

.box > p{
    font-size: .75rem;
    margin: 0;
    /* color: #6cdbeb; */
    font-weight: 500;
}